{% extends "base.html" %}
{% block functions %}
<form method="post" action={{url_for("submitItem")}}>
    <label for="item-list">Choose an item to forge:</label>
    <select id="item-list" name="item">
        {% for i in list_of_forge_items %}
            <option value="{{i}}">{{i}}</option>
        {% endfor %}
    </select>
    <button type="submit" >Submit</button>
</form>
<h2>
    {{forge_item}}
</h2>
    {% for i in temp_resources%}
        <p>{{i}}: {{temp_resources[i]}}</p>
    {% endfor %}
{% endblock %}

